<p>Bonjour <%= @resource.email %>!</p>

<p>Une requête de changement de votre mot de passe a été émise. Vous pouvez le faire par le biais du lien ci dessous.</p>

<p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Si vous n'êtes l'auteur de cette requête, veuillez ignorer ce message.</p>
<p>Votre mot de passe ne sera pas modifié jusqu'à ce que vous cliquiez sur le lien ci dessus et en créiez un nouveau.</p>
